################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj
/BaseSagaDemo/obj
/.vs
/ConsoleApp1/bin/Debug/net8.0
/BaseSagaDemo/bin/Debug/net8.0
